.component-button {
	@include flex(center, center, row);
	border: 2px solid $DARK_GREY;
	color: $DARK_GREY;
	font-size: 38px;
	height: 76px;
	padding: 0 40px;
	text-align: center;
	text-decoration: none;
}